---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <p>Logging you in, one moment..</p>
  <script>
    import alertStore, { type IAlertStore } from '../../stores/alert';

    const alertState: IAlertStore = alertStore.getInitialState();
    const hashParams = new URLSearchParams(window.location.hash.slice(1));
    const accessToken = hashParams.get('access_token');
    const refreshToken = hashParams.get('refresh_token');

    const response = await fetch(`/api/auth/verify`, {
      method: "POST",
      body: JSON.stringify({
        accessToken,
        refreshToken,
      }),
    });

    const data = await response.json();

    if (data.error) {
      alertState?.setStatus('error');
      alertState?.setMessage(data.error.message);
      alertState?.setOpened(true);
      alertState?.setIcon('exclamation-circle');
    } else {
      window.location.href = '/';
    }
  </script>
</Layout>
