:host {
  display: block;
}

form {
  padding: 0.5rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
}

h2 {
  text-align: center;
}

.success {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.success h2 {
  font-size: 1.5rem;
  border-bottom: none;
}

.success kemet-icon {
  color: var(--app-success-color);
}
