:host {
  display: flex;
  width: 100%;
}

button {
  cursor: pointer;
  font-size: 1.25rem;
  color: rgb(var(--kemet-color-gray-300));
  display: inline-flex;
  border: 0;
  background: none;
}

p {
  text-align: center;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  width: 96%;
  margin: 0 auto;
  padding: 0;
}

li {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1rem;
}

.close {
  font-size: 2rem;
}

.checked {
  opacity: 0.5;
  text-decoration: line-through;
}