:host {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  background-color: rgb(var(--kemet-color-gray-800));
}

:host([show]) {
  opacity: 1;
  pointer-events: auto;
}

div {
  font-size: 3rem;
  font-weight: bold;
}
